<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
