<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Юридическое агенство Бизнес-Профи</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css"/>
</head>
<body>
    <div class="container">
        @Html.Partial("Menu")
        @RenderBody()
    </div>
</body>
</html>
